# Include markdowns and text files
include *.txt *.md
recursive-include docs *.txt

# Include the license file
include LICENSE

# Include data files
recursive-include autoum/datasets/data/ *.tar.gz *csv.zip *.zip